apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix-deployment
  labels:
    app: netflix

spec:
  replicas: 2
  selector:
    matchLabels:
      app: netflix

  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
        - name: netflix
          image: vignesh3001/my-netflix-app
          ports:
            - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: netflix-service
spec:
  selector:
    app: netflix
  ports:
    - port: 80
      targetPort: 8080
  type: NodePort
